.src .org-string {
  color: #D580A4;
  background-color: #fff0ff;
}
.src .org-keyword {
  color: #880088;
}
.src .org-function-name {
  color: #44E;
}
.src .org-builtin {
  font-style: italic;
}
.src .org-comment,
.src .org-comment-delimiter,
.src .org-org-document-info-keyword {
  color: #036;
  font-style: italic;
}
.src .org-variable-name {
  font-weight: bold;
}
.src .org-constant,
.src .org-org-document-title {
  color: #ff7a00;
}
.src .org-org-level-1 {
  color: #4f6886;
}
.src .org-org-level-2 {
  color: #6e184f;
}
.src .org-org-date {
  color: #faae61;
}
.src .org-org-level-3 {
  color: #05976a;
}
.src .org-org-todo {
  color: #A71137;
  font-weight: bold;
}
pre.src + pre.example {
  font-style: italic;
}
.code-highlighted {
  background-color: #fc3;
}
.hll {
  background-color: #eee;
}
.c {
  color: #408090;
  font-style: italic;
}
.err {
  border: 1px solid #FF0000;
}
.k {
  color: #007020;
  font-weight: bold;
}
.o {
  color: #666666;
}
.cm {
  color: #408090;
  font-style: italic;
}
.cp {
  color: #007020;
}
.c1 {
  color: #408090;
  font-style: italic;
}
.cs {
  background-color: #FFF0F0;
  color: #408090;
}
.gd {
  color: #A00000;
}
.ge {
  font-style: italic;
}
.gr {
  color: #FF0000;
}
.gh {
  color: #000080;
  font-weight: bold;
}
.gi {
  color: #00A000;
}
.go {
  color: #303030;
}
.gp {
  color: #C65D09;
  font-weight: bold;
}
.gs {
  font-weight: bold;
}
.gu {
  color: #800080;
  font-weight: bold;
}
.gt {
  color: #0040D0;
}
.kc {
  color: #007020;
  font-weight: bold;
}
.kd {
  color: #007020;
  font-weight: bold;
}
.kn {
  color: #007020;
  font-weight: bold;
}
.kp {
  color: #007020;
}
.kr {
  color: #007020;
  font-weight: bold;
}
.kt {
  color: #902000;
}
.m {
  color: #208050;
}
.s {
  color: #4070A0;
}
.na {
  color: #4070A0;
}
.nb {
  color: #007020;
}
.nc {
  color: #0E84B5;
  font-weight: bold;
}
.no {
  color: #60ADD5;
}
.nd {
  color: #555555;
  font-weight: bold;
}
.ni {
  color: #D55537;
  font-weight: bold;
}
.ne {
  color: #007020;
}
.nf {
  color: #06287E;
}
.nl {
  color: #002070;
  font-weight: bold;
}
.nn {
  color: #0E84B5;
  font-weight: bold;
}
.nt {
  color: #062873;
  font-weight: bold;
}
.nv {
  color: #BB60D5;
}
.ow {
  color: #007020;
  font-weight: bold;
}
.w {
  color: #BBBBBB;
}
.mf {
  color: #208050;
}
.mh {
  color: #208050;
}
.mi {
  color: #208050;
}
.mo {
  color: #208050;
}
.sb {
  color: #4070A0;
}
.sc {
  color: #4070A0;
}
.sd {
  color: #4070A0;
  font-style: italic;
}
.s2 {
  color: #4070A0;
}
.se {
  color: #4070A0;
  font-weight: bold;
}
.sh {
  color: #4070A0;
}
.si {
  color: #70A0D0;
  font-style: italic;
}
.sx {
  color: #C65D09;
}
.sr {
  color: #235388;
}
.s1 {
  color: #4070A0;
}
.ss {
  color: #517918;
}
.bp {
  color: #007020;
}
.vc {
  color: #BB60D5;
}
.vg {
  color: #BB60D5;
}
.vi {
  color: #BB60D5;
}
.il {
  color: #208050;
}
header,
footer {
  width: 640px;
  margin: 0 auto;
  padding: 0;
}
footer {
  margin-top: 4em;
  margin-right: auto;
  margin-bottom: 4em;
  margin-left: auto;
}
section#content {
  width: 640px;
  margin: 0 auto;
}
footer img {
  display: inline-block;
  max-width: 80px;
  padding: 8px;
  vertical-align: middle;
}
footer p {
  display: inline-block;
  width: 80%;
  vertical-align: middle;
}
@media (max-width: 650px) {
  section#content,
  header,
  footer {
    font-size: 110%;
    width: 450px;
  }
  footer img {
    display: inline-block;
    max-width: 70px;
    padding: 8px;
    vertical-align: middle;
  }
  footer p {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
  }
}
@media (max-width: 520px) {
  footer img {
    display: inline-block;
    max-width: 50px;
    padding: 8px;
    vertical-align: middle;
  }
  footer p {
    display: inline-block;
    width: 70%;
    vertical-align: middle;
  }
  section#content,
  header,
  footer {
    font-size: 90%;
    width: 350px;
  }
}
body {
  font-family: sans-serif;
  font-size: 130%;
  color: #343444;
}
a {
  color: #4b5b6e;
}
a.permalink {
  text-decoration: none;
}
h2.linked-list {
  font-size: 100%;
}
section.index h2 {
  margin-top: 4em;
}
section.body h2 {
  margin-top: 2em;
}
h2 {
  margin-bottom: 4px;
}
time {
  font-size: 80%;
  color: #aaa;
}
footer {
  font-size: 80%;
}
code {
  background-color: #f1f2df;
}
.paginator {
  margin: 1em auto;
  padding: 1em;
  text-align: center;
  border-radius: 4px;
  background-color: #ccc;
}
img {
  max-width: 100%;
}
dt.archive-date {
  font-weight: bold;
  margin-top: 1em;
}
ol li.lettered_list {
  list-style-type: upper-alpha;
}
.img_float_right {
  float: right;
  width: 30%;
  margin: 16px;
}
.img_float_left {
  float: left;
  width: 30%;
  margin: 16px;
}
